





.countdown {
	/*background: url("/templates/nyec/images/counter_back_t.png") repeat-x scroll 0 0 transparent;*/
	float: left;
	height: 72px;
	margin: 0px;
	padding-right: 6px;
	border-right:1px #333 solid;
	overflow:hidden;
	margin-right:6px;
}
.countdown .top {
	background: none repeat scroll 0 0 #333;
	color: #fff;
	font-size: 10px;
	font-weight: bolder;
	margin: 0;
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
}
.countdown .counter {
	margin: 4px 0;
	overflow: hidden;
	padding: 0;
}
.countdown .counter span {
	background: url("/pages/facebook/newyearseve/images/counter_digit_back.png") repeat-x scroll 0 -3px transparent;
	display: block;
	float: left;
	font-size: 18px;
	font-weight: lighter;
	margin-right: 1px;
	padding: 2px 0px;
	text-align: center;
	width: 20px;
	color:#333;
}
.countdown .counter span.gap {
	margin-right: 5px;
}
.countdown .legend {
	background: none repeat scroll 0 0 #333;
	color: #999;
	font-size: 10px;
	margin: 0;
	overflow: hidden;
	padding: 2px;
	text-transform: uppercase;
}
.countdown .legend span {
	display: block;
	float: left;
	text-align: center;
}
.day { width:60px;}
.hr  { width:40px;margin-left:6px;} 
.min { width:45px;margin-left:4px;}
.sec { width:37px;margin-left:4px }